.education-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--padding);
}

.education-card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}