.experience-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--padding); 
    gap: 1.5rem;
}

.experience-card div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}