.watch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  width: 40%;
  border-radius: 10px;
  padding: 1.2rem;
  background-color: aquamarine;
}

.stopwatch {
  font-size: 3rem;
  font-family: monospace, sans-serif;
  color: black;
  .buttons {
    display: flex;
    gap: 1rem;
  }
}
button {
  margin: 1rem;
  background: none;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: monospace, sans-serif;
  border-radius: 6px;
  color: black;
  font-weight: 700;
  border-color: black;
}
